In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

conn = sqlite3.connect("studentsperformance (2).db")
cur = conn.cursor()

cur.execute("SELECT gender, `writing score`, `reading score` FROM StudentsPerformance WHERE `writing score` > 90")
rows = cur.fetchall()
print("წერის ქულა 90-ზე მეტი:")
for i in rows:
    print(i)

# insert new
g = input("gender: ")
r = input("race: ")
p = input("parent education: ")
l = input("lunch: ")
prep = input("prep course: ")
m = int(input("math score: "))
read = int(input("reading score: "))
w = int(input("writing score: "))

cur.execute("""
INSERT INTO StudentsPerformance (
    gender, `race/ethnicity`, `parental level of education`, lunch,
    `test preparation course`, `math score`, `reading score`, `writing score`
) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
""", (g, r, p, l, prep, m, read, w))
conn.commit()

# update
gen = input("update math score for gender: ")
new_math = int(input("new math score: "))
cur.execute("UPDATE StudentsPerformance SET `math score` = ? WHERE gender = ?", (new_math, gen))
conn.commit()

# delete
limit = int(input("delete students with reading score under: "))
cur.execute("DELETE FROM StudentsPerformance WHERE `reading score` < ?", (limit,))
conn.commit()

# plots
df = pd.read_sql_query("SELECT * FROM StudentsPerformance", conn)

plt.hist(df['reading score'], bins=15, color='skyblue', edgecolor='black')
plt.title("Reading score histogram")
plt.xlabel("Score")
plt.ylabel("Count")
plt.show()

mean_scores = df.groupby("gender")[["math score", "reading score", "writing score"]].mean()
mean_scores.plot(kind="bar")
plt.title("Avg scores by gender")
plt.ylabel("Score")
plt.xticks(rotation=0)
plt.show()

prep_counts = df['test preparation course'].value_counts()
plt.pie(prep_counts, labels=prep_counts.index, autopct="%1.1f%%")
plt.title("Test prep course %")
plt.show()

conn.close()

წერის ქულა 90-ზე მეტი:
('female', 93, 95)
('female', 92, 95)
('female', 92, 86)
('female', 100, 100)
('female', 98, 89)
('female', 100, 100)
('male', 92, 89)
('female', 93, 93)
('male', 93, 100)
('female', 91, 92)
('female', 100, 100)
('female', 100, 100)
('female', 94, 95)
('female', 95, 92)
('female', 93, 92)
('female', 91, 82)
('female', 94, 90)
('female', 95, 93)
('female', 95, 94)
('female', 96, 97)
('female', 100, 95)
('male', 95, 100)
('female', 95, 89)
('female', 100, 99)
('female', 93, 93)
('female', 97, 92)
('female', 100, 100)
('female', 91, 90)
('female', 91, 87)
('female', 91, 90)
('female', 92, 87)
('female', 92, 89)
('female', 94, 97)
('female', 94, 88)
('female', 97, 100)
('male', 92, 90)
('female', 100, 100)
('male', 92, 96)
('female', 96, 97)
('female', 99, 100)
('male', 91, 90)
('female', 93, 93)
('male', 99, 97)
('female', 98, 86)
('female', 100, 99)
('female', 99, 100)
('female', 99, 96)
('female', 94, 89)
('female', 92, 95)
('female', 95, 94)
('female', 92, 90)
('female', 93, 90)
('female', 93, 85)
('female', 96, 97)
('male', 91, 93)
('female', 95, 100)
('female', 91, 85)
('female', 100, 100)
('female', 91, 84)
('male', 100, 100)
('male', 91, 96)
('female', 96, 91)
('female', 100, 100)
('female', 100, 100)
('female', 100, 100)
('female', 94, 95)
('female', 91, 87)
('female', 95, 99)
('male', 93, 93)